body {
    background: url("../img/fon.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-weight: bold;
}

A {
    color: #000080;
    text-decoration: none;
}


table {
    background-color: #EEE5DE;
}

input, textarea {
    width: 300px;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.error {
    color:#990000;
}

.common_link {
    color: #800000;
}

.raw {
    font-weight: bolder;
}

nav {
    float: right;
}

input {
    margin-bottom: 20px;
}


.field {
    font-weight: bold;
}


.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}